.heroContainer {
  width: 100%;
  height: 100svh;
  min-height: 1080px;
  position: relative;
}

.titleContainer {
  position: absolute;
  z-index: 10;
  max-width: 672px;
  top: 50%;
  left: 75px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  display: flex;
  flex-direction: column;
  color: #fff;

  h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 0%;
  }

  h2 {
    font-size: 160px;
    font-weight: 600;
  }
}

.subTitle {
  background: #fff;
  padding: 10px 40px;
  max-width: 604px;
  border-radius: 60px;
  color: #865135;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 16px;
  z-index: 10;
  bottom: 94px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 0 10px;
}

.subCta {
  font-size: 25px;
  color: #4d413c;
  background: #e8d8c3;
  padding: 10px 40px;
  border-radius: 24px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .subCta {
    width: 100%;
  }

  .titleContainer {
    left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .heroContainer {
    min-height: auto;
  }

  .subCta {
    font-size: 16px;
  }

  .subTitle {
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
  }

  .title {
    h1 {
      font-size: 45px;
    }

    h2 {
      font-size: 80px;
    }
  }
}

@media screen and (max-width: 600px) {
  .titleContainer {
    transform: translate(0);
    max-width: 338px;
    left: 0;
    padding: 0 30px;
    top: 164px;
  }

  .title {
    h2 {
      font-size: 65px;
      line-height: calc(100% + 40px);
    }
  }
}
