.contactContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 98px;
  padding: 0 20px;
}

.contact {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  gap: 90px;
}

.image {
  width: 513px;
  max-height: 732px;
  align-self: stretch;
  border-radius: 44px;
  background: url('/contact/bg-image.png');
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .image {
    display: none;
  }
}
