.faqContainer {
  width: 100%;
  padding: 250px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 33px;
  flex-wrap: wrap;
  max-width: 1440px;
}

@media screen and (max-width: 1024px) {
  .faqContainer {
    padding: 120px 15px;
  }
}
