.formContainer {
  max-width: 666px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

  p {
    width: 100%;
    padding: 20px 30px;
    background: #fff;
    border-radius: 22px;
    box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.12);
    font-weight: 300;
  }
}

.form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  span {
    width: 100%;
  }
}

.selector {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 300;
  width: 100%;

  select {
    all: unset;
    border: 1px solid #1e352f;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    width: 318px;
    cursor: pointer;
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  label {
    font-weight: 300;
  }

  textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 108px;
    border: 1px solid #1e352f;
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  textarea::placeholder {
    font-weight: 300;
    color: #b0988e;
  }
}

.required {
  color: red;
}
